* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

header {
    margin-bottom: 20px;
}

#game {
    position: relative; 
    width: 400px;  
    height: 400px; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #000; 
}

.player, .enemy {
    width: 30px;
    height: 30px;
    position: absolute;
}

.player {
    background-color: green;
}

.enemy {
    background-color: red;
}

.player, .enemy {
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
}

.player {
    background-color: green;
}

.enemy {
    background-color: red;
}

/* Styles pour la barre de vie */
.health-bar {
    width: 30px;
    height: 5px;
    background-color: green;
    position: absolute;
    top: -10px;
    left: 0;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10; 
}

#scoreboard {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ol{
    list-style-type: none;
}

.return{
    background-color: blueviolet;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.return > a{
    text-decoration: none ;
    color: white;
}
